* { box-sizing: border-box; }

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    margin: 0;
    padding: 0;
}


h1 { 
    background-color: black;
    color: white;
    margin: 0; 
    padding-left: 10px;
}


.imagem-decorativa {
    background-image: url(../imagens/trabalho.jpg);
    height: 450px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 90%;
    margin: auto;
}


footer {
    background-image: linear-gradient(45deg, black, blue);

    height: 150px;
    text-align: center;
    color: white;
    font-weight: bold;


    display: flex;
    justify-content: center;
    align-items: center;
}


.treinamentos section {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 32%;
}

.treinamentos {
    display: flex;
    

    justify-content: space-between;
}


.flutuar-imagem {
    width: 250px;
    float: left;
    margin-right: 1%;
}



@media screen and (max-width: 650px) {
    .treinamentos { flex-direction: column; }
    .treinamentos section {
        width: auto;
    }
}
