.menu {
    list-style: none;
    margin: 0; padding: 0;
    background-color: blue;

    overflow: hidden;
}

.menu li { float: left; }

.menu a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

.menu a:hover, .menu a:focus {
    background-color: white;

    color: blue;
}


.menu li.icone { display: none; }


@media screen and (max-width: 760px){

    .menu li { display: none; }


    .menu li.icone {
        display: block;
        float: right;
    }

    .menu.responsivo { position: relative; }
    superior/direita do menu */
    .menu.responsivo li.icone {
        position: absolute;
        right: 0;
        top: 0;
    }   


    .menu.responsivo li {
        float: none;
        display: inline;
    }
}



